
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f4f4f4, #e0e0e0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-width: 100%;
    animation: fadeIn 0.8s ease-in-out;
}


h1 {
    text-align: center;
    color: #a728a7;
    font-size: 26px;
    margin-bottom: 25px;
    font-weight: 600;
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #46082c;
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.2);
    outline: none;
}


button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #30061b, #2e0318);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: linear-gradient(135deg, #e48ea8, #cf75b1);
    transform: scale(1.05);
}


.error {
    color: red;
    font-size: 14px;
    font-weight: 400;
}


#username-error, #password-error {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 5px;
}


#login-error {
    color: #e74c3c;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 400px) {
    form {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    input, button {
        font-size: 14px;
        padding: 10px;
    }
}
